APP_PORT= # Porta da Aplicação
PATH_CREDENCIAIS= # Caminho do arquivo Json baixado no google cloud console
PLANILHA_URL= # URL da Planilha que vai ser alimentada pela automação
DISCORD_WEBHOOK_URL= # URL Webhook do Discord
INICIO_PLANILHA= #Inicio da Planilha sem os cabeçalhos