[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
openpyxl = "*"
gspread = "*"
oauth2client = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
